

.parent{
       -fx-background-color:transparent;
}
.line-color{
    -fx-background-color:#F3ABB5;
}
.container {
    -fx-background-color: #ffa07a; 
    -fx-background-radius: 20;
    -fx-opacity: 0.5; 
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill:#F78C7B;
}
.trans-btn-white-border:hover{

    -fx-background-color:#cccccc;
     -fx-cursor: hand;
}
